    *{margin:  0;
    padding: 0;}
   

    header{
        background-color: rgb(212, 11, 219);
        color: white;
        display: flex;
        justify-content: space-around;
        padding: 24px 0;

}
.cabecalho-listra-item{
        display: inline-block;
        margin: 0 20px;
        padding: 10px 0;
        font-size: 24px;

}
.imagem-escola{
        width: 78%;   
}
.Escola{
    background-image: linear-gradient(rgba(68, 58, 206, 0.932),rgba(128, 15, 194, 0.863));
  color: aqua;
  display: flex;
}


.titulo-escola{
padding: 20px;

}
.texto-escola{font-size: 20px;}

.escola-conteudo{
    width: 40%;
    align-items: center;
    padding: 24px 0;
}

.titulo-escola{
    padding: 20px;
}

.imagem-escola{margin: 40px;}

.estudante{
    background-image: linear-gradient(rgba(255, 18, 156, 0.938), rgb(255, 106, 193));
    color: white;

}

.estudante-imagem{
    width: 300px;
}

.estudante-icone{
    width: 20px;
}

.estudante-titulo{
    text-align: center;
}

.estudante-div{
    text-align: center;
    padding: 50px 0;

}